<div class="users_header">
  <div class="header_icon">
    <div>
      <% if user.image? %>
        <%= image_tag user.image.icon.url, class: "image rounded-circle" %>
      <% else %>
        <img class="image ml-2 mr-2 rounded" src="/assets/default.png" alt="デフォルトイメージ">
      <% end %>
    </div>
    <div class="ml-5">
      <div class="user_name mb-2">
        <h1><%= user.name %></h1>
      </div>
      <div class="user_profile mb-2">
        <h1><%= user.profile %></h1>
      </div>
      <div class="setting">
        <% if current_user == user%>
          <%= link_to edit_user_path(user), class: "btn btn-sm" do %>
          <i class="fas fa-cog"></i>
          <span>プロフィールを編集</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "relationships/follow_button", user: user %>
  <div class="post_link mt-5 mb-5">
    <ul class="nav nav-tabs">
      <li class="category nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= "active" if current_page?(user_path(@user)) %>">All categories</a></li>
      <li class="category nav-item"><a href="<%= mensperms_user_path(@user) %>" class="nav-link <%= "active" if current_page?(mensperms_user_path(@user)) %>">Men's perm</a></li>
      <li class="category nav-item"><a href="<%= menscolors_user_path(@user) %>" class="nav-link <%= "active" if current_page?(menscolors_user_path(@user)) %>">Men's color</a></li>
      <li class="category nav-item"><a href="<%= ladiesperms_user_path(@user) %>" class="nav-link <%= "active" if current_page?(ladiesperms_user_path(@user)) %>">Ladies' perm</a></li>
      <li class="category nav-item"><a href="<%= ladiescolors_user_path(@user) %>" class="nav-link <%= "active" if current_page?(ladiescolors_user_path(@user)) %>">Ladies' color</a></li>
    </ul>
  </div>
</div>
