<div class="header_icon">
  <% if @user.image? %>
    <%= image_tag @user.image.thumb.url, class: "rounded-circle" %>
  <% else %>
    <img class="ml-2 mr-2 rounded" src="/assets/thumb_default.png" alt="デフォルトイメージ">
  <% end %>
</div>
<div class="header_user_name">
  <p><%= current_user.name %></p>
</div>

<div class="profile">
  <p><%= current_user.profile %></p>
</div>

<div class="setting">
  <%= link_to "プロフィール編集", edit_user_path(user), class: "btn btn-primary btn-sm" %>
</div>

<div class="user_link">
  <ul class="d-flex flex-row justify-content-end list-unstyled">
    <li class="mr-2 btn btn-primary btn-sm">Follower</li>
    <li class="mr-2 btn btn-primary btn-sm">Followings</li>
    <li class="mr-2 btn btn-primary btn-sm">Favorites</li>
  </ul>
</div>

<div class="post_link">
  <ul class="nav nav-tabs">
    <li class="category nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= "active" if current_page?(user_path(@user)) %>">All categories</a></li>
    <li class="category nav-item"><a href="<%= mensperms_user_path(@user) %>" class="nav-link <%= "active" if current_page?(mensperms_user_path(@user)) %>">Men's perm"</a></li>
    <li class="category nav-item"><a href="<%= menscolors_user_path(@user) %>" class="nav-link <%= "active" if current_page?(menscolors_user_path(@user)) %>">Men's color"</a></li>
    <li class="category nav-item"><a href="<%= ladiesperms_user_path(@user) %>" class="nav-link <%= "active" if current_page?(ladiesperms_user_path(@user)) %>">Ladies' perm"</a></li>
    <li class="category nav-item"><a href="<%= ladiescolors_user_path(@user) %>" class="nav-link <%= "active" if current_page?(ladiescolors_user_path(@user)) %>">Ladies' color"</a></li>
  </ul>
</div>
