<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="user_list border">
        <div>
          <% if user.image? %>
            <% if controller.controller_name == "users" %>
              <%= image_tag user.image.thumb.url, class: "rounded" %>
            <% else %>
              <%= image_tag user.image.icon.url, class: "rounded" %>
            <% end %>
          <% else %>
            <% if controller.controller_name == "users" %>
              <img class="rounded" src="/assets/thumb_default.png" alt="デフォルトイメージ">
            <% else %>
              <img class="rounded" src="/assets/default.png" alt="デフォルトイメージ">
            <% end %>
          <% end %>
        </div>
        <div>
          <p class="ml-4 align-middle"><%= link_to user.name, user_path(user) %></p>
        </div>
          <% if current_general_user %>
             <%= render "relationships/follow_button", user: user %>
          <% end %>
      </li>
    <% end %>
  </ul>
  <div>
    <% unless controller.controller_name == "general_users" %>
      <%= paginate users %>
    <% end %>
  </div>
<% end %>