<ul class="list-unstyled text-center">
    <% posts.each do |post| %>
      <li>
        <div class="post_content mb-3 border">
          <div>
            <p><%= link_to post.title, post %></p>
          </div>
          <div>
            <%= image_tag post.image.icon.url %>
          </div>
          <div>
            <%= render "favorites/favorites", post: post %>
            <%= link_to "編集", edit_post_path(post), class: "btn btn-secondary" %>
            <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "削除してよろしいですか？"}, class: "btn btn-danger" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>