<% if posts.any? %>
  <ul class="contents list-unstyled">
    <% posts.each do |post| %>
      <li class="content">
        <div class="content_header">
          <div>
            <% if post.user.image? %>
              <%= image_tag post.user.image.thumb.url, class: "rounded" %>
            <% else %>
              <img class="rounded" src="/assets/thumb_default.png" alt="デフォルトイメージ">
            <% end %>
            <%= link_to post.user.name, user_path(post.user) %>
          </div>
          <% if current_user && current_user == post.user%>
            <div class="dropdown">
              <button type="button" class="btn" data-toggle="dropdown">
                <i class="fas fa-ellipsis-h"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item"><%= link_to "編集", edit_post_path(post) %></li>
                <li class="dropdown-item"><%= link_to "削除", post_path(post), method: :delete, data: { confirm: "削除してよろしいですか？"} %></li>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="content_title">
          <%= link_to post.title, post %>
        </div>
        <div class="content_image">
          <%= image_tag post.image.content.url %>
        </div>
        <div class="datetime">
         <%= post.created_at.to_s(:datetime_jp) %>
        </div>
        <div class="likes_button">
          <% if current_general_user %>
            <%= render "favorites/favorites", post: post %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <div>
    <% if controller.controller_name == "users" %>
      <%= paginate posts %> 
    <% end %>
  </div>
<% end %>
