<div class="row">
  <div class="new_post col-sm-7 offset-sm-3">
    <%= form_with(model: @post, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image, id: :post_img %>
      </div>
      
      <div class="form-group">
        <%= image_tag @post.image.content.url,alt: "", oneerror: "this.onerror = null; this.src="";", id: :img_prev %>
      </div>
      
      <script type="text/javascript">
        $(function() {
          function readURL(input) {
              if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
              }
          }
          $("#post_img").change(function(){
              readURL(this);
          });
        });
      </script>

      <div class="form-group">
        <%= f.label :category_id, "カテゴリー" %>
        <%= f.select :category_id, { "Men's perm": 1, "Men's color": 2, "Ladies' perm": 3, "Ladies' color": 4}, { include_blank: "選択してください" }, { class: "form-control", require: true } %>
      </div>
      
      <div class="form-group button">
        <%= f.submit "投稿" %>
      </div>
    <% end %>
  </div>
</div>