<div class="text-center">
  <div class="title border mb-3">
    <h1><%= @post.title %></h1>
  </div>
  <div class="image border mb-3">
    <%= image_tag @post.image.icon.url %>
  </div>
  
  <div class="image_content border">
    <% if current_general_user %>
      <%= render "favorites/favorites", post: @post %>
    <% else %>
      <%= link_to "編集", edit_post_path(@post), class: "btn btn-secondary" %>
      <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
