<div>
  <h2>マイページ</h2>
  <%= link_to "情報を編集する", edit_general_user_path(@general_user) %>
</div>

<div class="likes">
  <div class="likes_title">
    <h3>お気に入りスタイル <span class="badge badge-secondary"><%= @count_favorites %></span></h3>
    <%= render "posts/posts", posts: @likes %>
    <%= link_to "全て見る", likes_general_user_path(@general_user) %>
  </div>
  <div class="likes_contents">
    
  </div>
</div>

<div class="follow">
  <div class="follow_title">
    <h3>お気に入りユーザー <span class="badge badge-secondary"><%= @count_followings %></span></h3>
    <%= render "users/users", users: @followings %>
    <%= link_to "全て見る", followings_general_user_path(@general_user) %>
  </div>
  <div class="follow_contents">
    
  </div>
</div>