<div class="mypage_header pt-5 px-3 mb-5 mx-3">
  <h2><%= @general_user.name %>のマイページ</h2>
  <%= link_to edit_general_user_path(@general_user) do %>
    <i class="fas fa-cog"></i>
    <span>設定</span>
  <% end %>
</div>

<div class="likes mb-5 px-3">
  <h3 class="mb-3 ml-5 displayinline">
    <i class="fas fa-bookmark"></i> ヘアスタイル
  </h3>
  <% if @likes.any? %>
    <%= render "posts/posts", posts: @likes %>
    <span><%= link_to "全て見る", likes_general_user_path(@general_user) %></span>
  <% else %>
    <p>お気に入りのヘアスタイルはありません</p>
  <% end %>
</div>

<div class="follow_user mb-5 px-3">
  <h3 class="mb-3 ml-5">
    <i class="fas fa-heart"></i> お気に入りユーザー
  </h3>
  <% if @followings.any? %>
    <%= render "users/users", users: @followings %>
    <span><%= link_to "全て見る", followings_general_user_path(@general_user) %></span>
  <% else %>
    <p>お気に入りのユーザーはありません</p>
  <% end %>
</div>
