<header class="sticky-top mb-5">
  <nav class="navbar navbar-expand navbar-light">
    <a class="navbar-brand" href="/">hairshot</a>
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path(@users), class: "nav-link" do %>
            <i class="fas fa-users"></i>
          <% end %>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to new_post_path, class: "nav-link" do %>
              <i class="fa fa-edit"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown dropdown-left">
            <a href="#" class="nav-link" data-toggle="dropdown">
              <%= image_tag current_user.image.thumb.url, class: "image rounded-circle" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to "マイページ", user_path(current_user), class: "nav-link" %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link" %></li>
            </ul>
          </li>
        <% else %>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown">
                <i class="fas fa-user-circle"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><%= link_to "マイページ", general_user_path(current_general_user), class: "nav-link" %></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><%= link_to "ログアウト", general_logout_path, method: :delete, class: "nav-link" %></li>
              </ul>
            </li>
        <% end %>
      <% else %>
        <li class="nav-item"><%= link_to "新規登録", general_user_signup_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ログイン", general_login_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "美容師の方はこちら", signup_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "サロンユーザーログイン", login_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </nav>
</header>

